<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home'%}">AdoPet</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home'%}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'quiz_main_page'%}">Quiz</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'pets'%}">Pets</a>
      </li>
      {% if user.is_authenticated %}
            {% if is_moderator %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'moderator_dashboard' %}">Moderator Dashboard</a>
                </li>
            {% endif %}
      {% endif %}
    </ul>

    <ul class="navbar-nav ml-auto">
      {% if user.is_authenticated %}
      <span class="navbar-text">Logged in as {{user.username}} |</span>

      <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
      <li class="nav-item">
        <button type="submit" class="nav-link" style="background: none; border: none; padding: 1;">Logout</button>
      </li>
      </form>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login'%}">Login</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>