{% extends 'base.html' %}
{% block content %}
<form method="POST" action="{% url 'quiz_results' %}">
    {% csrf_token %}
    <div>
        <style>
            h1 {text-align: center;}
        </style>
        <h1> Quiz </h1>
        <p align="center"> Take a short quiz to find out which of our pets will be the perfect match for you! </p>
        <br/>
        <br/>
        <br/>
          <fieldset class="form-group">
              {% for question in questions %}
              <section class="questions">
               <h3>{{ question.question_text|capfirst }}</h3>
              </section>
                <div class="form-check">
                    {% if question.first_option %}
                  <input class="form-check-input" type="radio" name={{question.id}} id="gridRadios1" value={{question.first_option}}>
                  <label class="form-check-label" for="gridRadios1">
                        {{ question.first_option }}
                  </label>
                    {% endif %}
                </div>
                <div class="form-check">
                      {% if question.second_option %}
                  <input class="form-check-input" type="radio" name={{question.id}} id="gridRadios2" value={{question.second_option}}>
                  <label class="form-check-label" for="gridRadios2">
                        {{ question.second_option }}
                  </label>
                      {% endif %}
                </div>
                <div class="form-check">
                      {% if question.third_option %}
                  <input class="form-check-input" type="radio" name={{question.id}} id="gridRadios3" value={{question.third_option}}>
                  <label class="form-check-label" for="gridRadios3">
                       {{ question.third_option }}
                  </label>
                      {% endif %}
                </div>
                <div class="form-check">
                      {% if question.fourth_option %}
                  <input class="form-check-input" type="radio" name={{question.id}} id="gridRadios4" value={{question.fourth_option}}>
                  <label class="form-check-label" for="gridRadios4">
                        {{ question.fourth_option }}
                  </label>
                      {% endif %}
                </div>
              <br/>
              <br/>
              {% endfor %}
              <input type="submit" value="Submit">
          </fieldset>
    </div>
    </form>
{% endblock %}
